<p id="notice"><%= notice %></p>
    <h3 style="text-align: center;"> List of all books</h3>

      <div style="text-align: center;">
        <%= search_form_for @q do |form| %>   
        <%= form.search_field :title_or_price_or_year_or_semester_or_subject_cont, placeholder:"  Search by title,semester,edition ", style:"width:500px" %>
       

        <%= form.submit %>

        <% end %>
      </div>  

<style>.container {
  margin: 0 auto;
  max-width: 910px;
}

.choose {
  width: 100%;
  height: 40px;
}
.fa {
  margin-right: 20px;
  font-size: 30px;
  color: gray;
  float: right;
}
/******************************************
Book stuff
*******************************************/

.book {
  display: inline-block;
  width: 200px;
  height: 330px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
  border-style: groove;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
}

.book .author {
  font-size: 13px;
}
@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .cover {
    
  }
}

/*********************************
other
**********************************/

h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}
</style>





  <div class="container" style="text-align: center;">
    <% @mybooks.each do |mybook| %>    

  


      <div class="book read">
        <div class="cover">
          <%= link_to (image_tag mybook.image, height:"100%", width:"100%"), mybook %>
        </div>
        <div class="description">
          <p class="title"><td><%= link_to (mybook.title), mybook, class:"btn default", style:"text-decoration: none; text-align:center; font-weight: bold" %></td><br> 
            </p>
        </div>
      </div>
      



    <% end %>  
  </div>






